.parent {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    margin-left: 5%;
    padding: 15px;
    background-color: #e09d00;
    grid-area: 1 / 1 / 5 / 3;
}

.div2 {
    margin-left: 5%;
    padding: 15px;
    background-color: #e09d00;
    grid-area: 1 / 3 / 5 / 5;
}