*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(160deg, #e52a09,#f17400);
    padding: 20px;
    color: white;
}

.logo img {
    max-height: 60px;
}

.logo a img {
    transition: transform 0.3s ease;
}

.logo a img:hover {
    transform: scale(1.5); /* Zoom al pasar el cursor */
}


nav {
    display: flex;
    justify-content: space-evenly; /* Espacio alrededor de los enlaces */
    padding: 0 20px;
}


nav a {
    margin-left: 30px;
    background-color: #080e7e;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

nav a:hover {
    background-color: #e52a09;
    background-image: linear-gradient(65deg, #f17400 , #e52a09);
    transform: scale(1.1);
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant-image {
    max-width: 80%;
    max-height: 400px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: #333 3px;
}

.lema {
    font-size: 1.8em;
    color: #333;
}

footer {
    background: linear-gradient(160deg, #e52a09,#f17400);
    color: white;
    text-align: center;
    padding: 20px;
}

aside{
    height: 200px;
    padding: 10px;
    background-color: #e52a09;
    margin-right: 80%;
    max-width: 200px;
    margin: 25px;
    
}